.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
  margin-top: 80px;
  margin-bottom: 300px;
   
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1D3C78;
    text-decoration: underline; 
  }
  